<h2 style="text-align: center;">Home Loan Documents and Charges</h2><br> <br>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <p><strong>HOME LOAN DOCUMENTS</strong></p><br><br>
          <p class="text-muted" style="position: relative; left: -200px; top: 20px;">for salaried individuals</p> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p><strong>For home loan approval, you need to submit the following documents for all applicants / co-applicants along with the completed and signed home loan application form.</strong></p>
          <ul>
              <li>Proof of both Identity and Residence(KYC)</li>
              <li>Proof of Income</li>
              <li>Property relalted documents</li>
          </ul>  
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <p><strong>HOME LOAN Charges and Fees</strong></p><br><br>
            <p class="text-muted" style="position: relative; left: -230px; top: 20px;">for salaried individuals</p> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <p><strong>Here is an indicative list of the home loan fees and charges/ outgoings that are payable depending on the nature of the loan availed (*):.</strong></p>
          <ul>
              <li>Home Loan Processing and Fees Charges</li>
              <li>Home Loan Prepayment Charges</li>
              <li>Home Loan Conversion Fees</li>
          </ul> 
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            <p><strong>HOME LOAN Repayment Options</strong></p><br><br>
            <p class="text-muted" style="position: relative; left: -250px; top: 20px;">for salaried individuals</p> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <ul>
              <li>Set Up Replayment Facility</li>
              <li>Flexible Loan Installments Plan</li>
              <li>Accelerated Replayment Scheme</li>
          </ul>
        </div>
      </div>
    </div>
  </div>