<div class="panel panel-primary" >
    <div class="panel-heading" style="height:40px; padding:0; background-color: rgb(62, 14, 117); color: white; max-height: 10;">
        <h4 class="panel-title text-center">FAQs</h4>
    </div>
    <div class="panel panel-default">
      <!--------------------        FAQ     --------------------------------->
  <div class="d-md-flex h-md-100 align-items-center">
    
    <!-- First Half -->
    
    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
      <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
        <div class="para col-xs-12 col-md-4 col-sm-4 col-lg-4">
          <div class="title">
        <h2>Frequently Asked Questions</h2></div>
        <p>Here are a few questions that will answer most of the queries that you may have.</p>
        </div>
      </div>
  </div>
    
    <!-- Second Half -->
    
    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  UNDERSTANDING HOME LOAN ELIGIBILITY
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>When you apply for a home loan, the lender considers –</p>
                  <p>Your income and loan repaying capacity to determine loan eligibility</p>
                  <p>Other factors include your age, retirement age, financial position, credit history, credit score</p>
                  <p>Enhance your borrowing ability by –</p>
                  <ul>
                    <li>Availing a structured repayment plan.</li>
                    <li>Ensuring a steady income flow, regular savings and investments.</li>
                    <li>Furnishing details of your regular additional income sources.</li>
                    <li>Keeping a record of your variable salary components.</li>
                    <li>Taking actions to rectify errors (if any) in your credit score.</li>
                    <li>Repaying ongoing loans and short terms debts.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  BUYING A HOUSE? WHY SELF-FUND WHEN YOU CAN BORROW
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Borrowing for your home purchase is an attractive proposition</p>
                  <p>A home loan is preferable to other loans because of –</p>
                  <ul>
                    <li>lower interest rates</li>
                    <li>added assurance on property documentation</li>
                    <li>it helps in maintaining liquidity for interiors work etc.</li>
                    <li>tax benefits</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  6 REASONS TO OPT FOR HOME LOAN REFINANCE?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Refinancing your Home Loan makes sense when the new lender –</p>
                  <ul>
                    <li>offers a lower rate of interest</li>
                    <li>offers a higher loan amount</li>
                    <li>permits switch from fixed to floating/adjustable interest rate</li>
                    <li>permits reduction in loan tenure</li>
                    <li>permits reduction in EMI</li>
                    <li>offers better terms and service</li>
                  </ul>
                  <p>Don’t refinance if –</p>
                  <ul>
                    <li>costs don’t justify it</li>
                    <li>you are nearly through with your loan repayment</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  HOME LOANS ARE FOR ALL – SALARIED AND SELF-EMPLOYED PEOPLE
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Whether you are salaried or self-employed, you can get a home loan.</p>
                  <p>Terms for both kinds of applicants are the same.</p>
                  <p>Only difference usually is in the set of documents to be submitted for home loan.</p>
                  <p>Earnings and creditworthiness are the key factors to determine loan eligibility.</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
        
    </div>
    <hr>
  
  
  <!------------------------FAQ------------------------------------>
  
  
