<h2 style="text-align: center;">HOME LOAN INTEREST RATE</h2> <br>
<h4 style="text-align: center;">Based on Salary</h4><br>

<div class="container"> 
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            
            <th style="text-align: center; width: 50%;" >Loan Slab</th>
            
            <th style="text-align: center; ">Home Loan Interest Rates (% p.a.)</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center;"><30000₹</td>
                <td style="text-align: center;">40%</td>
            </tr>
            <tr>
                <td style="text-align: center;">30,000-60,000₹</td>
                <td style="text-align: center;">55%</td>
            </tr>
            <tr>
                <td style="text-align: center;">60,000-1L₹</td>
                <td style="text-align: center;">70%</td>
            </tr>
            <tr>
                <td style="text-align: center;">1L - 1.5L₹</td>
                <td style="text-align: center;">80%</td>
            </tr>
            <tr>
                <td style="text-align: center;">1.5L - 2L₹</td>
                <td style="text-align: center;">90%</td>
            </tr>
            <tr>
                <td style="text-align: center;">2L₹ +</td>
                <td style="text-align: center;">100%</td>
            </tr>

        </tbody>
    </table>    
    
</div>    
