<hr>
<div class="container">

    
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <br><br>
            <img src="/assets/images/Home_Loan_Things.jpg" width="350px" height="200px">
            
        </div>

        
            
      
        
        <div id="sec" class="col-lg-6 col-md-12 col-sm-12">
            <h4 class="card-title">ABOUT US</h4>
            <p id="AU" class="card-text" style="font:small-caption;"> <p>Buying a house is a dream for many and involves a lot of 
            financial planning. <br> Ménage Financing makes it simpler for those who want to realise this dream.Our housing loan is tailor made for salaried
            individuals as they offer an attractive rate of interest and a longer tenure.<br>
            We also provide you with legal and technical counselling to help you make the right home buying decision.<br>
              
            Ménage Financing offers you all online Home Loan solutions if you want <br>
            to buy, construct or renovate your house.
          
           
        </div>
        
      
    </div>
    
</div>

<hr>
         

        
            
        
    


