
<p id="articles" style="text-align: center;"><strong>Related Articles</strong></p><br><br>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-sm-6" style="padding-left: 60px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.istockphoto.com/photos/happy-couple-smiling-in-their-new-home-picture-id1188220349?k=6&m=1188220349&s=170667a&w=0&h=dC5wa50Ep2dP8IxswcZElstopmUmUxy2zJQW_kEEUT0=" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><small class="text-muted">Home Finance</small></h5>
                    <p class="card-text">How to Apply Loan Online</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>    
        </div>
        <div class="col-xl-4 col-lg-5 col-sm-6" style="padding-left: 60px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://s-i.huffpost.com/gen/1349209/images/o-CAREER-WOMEN-facebook.jpg" alt="Card image cap" height="222px">
                <div class="card-body">
                    <h5 class="card-title"><small class="text-muted">Home Finance</small></h5>
                    <p class="card-text">Loan Benefits for Women</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>    
        </div>
        <div class="col-xl-4 col-lg-5 col-sm-6" style="padding-left: 60px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-family-holding-keys-to-new-home-on-moving-in-day_rj0mszscf_thumbnail-1080_01.png" alt="Card image cap" height="222px">
                <div class="card-body">
                    <h5 class="card-title"><small class="text-muted">Home Finance</small></h5>
                    <p class="card-text">Basics of Pre-Approved Loans</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>    
        </div>
        
    </div>
</div>