.card:hover {
    transform: scale(1.1);
  }
  .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
  }  

#articles{
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color:midnightblue;
    font-size: xx-large;
    border:solid 2px black;
    margin: 50px;
}